<html><head>
  <title>Thotrs</title>
</head>

<body>
<nav>

  <div class="nav-content">
    <a class="logo" href="#">Logo</a>
    <div class="menu">
      <ul class="nav-menu">
        <li class="nav-elem">
          <a href="#">О нас</a>
        </li>
        <li class="nav-elem">
          <a href="#">Оборудование</a>
        </li>
        <li class="nav-elem">
          <a href="#">Залы</a>
        </li>
        <li class="nav-elem">
          <a href="#">Контакты</a>
        </li>
      </ul>
    </div>
  </div>

</nav>

<section class="records_create">

  <div class="div-form">
    <%= form_with scope: :record, local: true, method: :post do |form| %>
      <%= form.select_date :time  %>
      <%= form.submit :ok, placeholder: 'СОЗДАТЬ', class: 'create-form submit-form' %>
    <% end %>
  </div>

</section>

<footer>

  <div class="footer-content">
    <div class="footer-columns">
      <div class="footer-column">
        <span class="copyright">Copyright © ъуъ 2019</span>
      </div>
      <div class="footer-column">
        <ul class="social">
          <li><a href="#">VK</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
      </div>
      <div class="footer-column">
        ты супер
      </div>
    </div>
  </div>

</footer>

</body></html>