<section class="records_new">

  <div class="div-form">
    <%= form_with scope: :record, local: true, method: :post do |form| %>

      <%= form.submit :ok, class: 'create-form submit-form' %>
    <% end %>
  </div>

</section>
