<section class="records_create">

  <div class="welcome">Welcome To Our Studio!</div>
  <div class="nicetomeetyou">It's Nice To Meet You</div>

  <script>
      var timetable = new Timetable();
      timetable.setScope(8,20);
      timetable.addLocations(['Зал 1', 'Зал 2', 'Зал 42', 'Зал победы JS над здравым смыслом']);
      timetable.addEvent('Фоточки', 'Зал 1', new Date(2015,7,17,10,45),
          new Date(2015,7,17,12,30), '#');
      timetable.addEvent('Опять фоточки', 'Зал 42', new Date(2015,7,17,12),
          new Date(2015,7,17,13), '#');
      timetable.addEvent('Длинная съемка с длинным названием чтобы протестить', 'Зал 2',
          new Date(2015,7,17,13,30), new Date(2015,7,17,15), '#');
      timetable.addEvent('Отладка и тестирование', 'Зал победы JS над здравым смыслом',
          new Date(2015,7,17,9,0), new Date(2015,7,24,0), '#');
      var renderer = new Timetable.Renderer(timetable);
      renderer.draw('.timetable');
  </script>
  <div class="btn">
    <%= link_to 'Записаться', '/records/new'%>
  </div>

</section>
