<section class="records_create">

  <div class="welcome">Welcome To Our Studio!</div>
  <div class="nicetomeetyou">It's Nice To Meet You</div>
  <div class="btn">
    <%= link_to 'Записаться', '/records/new'%>
  </div>

</section>
