<section class="records_create">

  <div class="welcome">Оп! Расписание </div>
  <div class="nicetomeetyou">It's Nice To Meet You</div>

  <script>
      var timetable = new Timetable();
      timetable.setScope(8,20);
      timetable.addLocations(['erererre']);

      <% @rooms.each do |room| %>
        timetable.addLocations(['<%= room.room_name %>']);
      <%end %>


      timetable.addEvent('Фоточки', '<%= @rooms.first.room_name %>', new Date(2015,7,17,10,30),
          new Date(2015,7,17,12,30), '#');
      timetable.addEvent('Опять фоточки', '<%= @rooms.first.room_name %>', new Date(2015,7,17,15),
          new Date(2015,7,17,17), '#');
      timetable.addEvent('Длинная съемка с длинным названием чтобы протестить', 'erererre',
          new Date(2015,7,17,13,30), new Date(2015,7,17,15), '#');
      timetable.addEvent('Отладка и тестирование', 'erererre',
          new Date(2015,7,17,9,0), new Date(2015,7,24,0), '#');
      var renderer = new Timetable.Renderer(timetable);
      renderer.draw('.timetable');
  </script>

  <div class="btn">
    <%= link_to 'Записаться', '/records/new'%>
  </div>

</section>
