
<section class="users_create">

  <div class="welcome">Welcome To Our Studio!</div>
  <div class="nicetomeetyou">It's Nice To Meet You</div>

  <div class="show_rooms">
    <%=@rooms.each do |room| %>
      <div class="room_name">
        <%= room.room_name %>
      </div>
    <% end %>
  </div>



</section>
