
<section class="index_section">

  <div class="welcome">Welcome To Our Studio!</div>
  <div class="nicetomeetyou">It's Nice To Meet You</div>

  <div class="btn">
    <%= link_to 'Зарегистрироваться', '/users/new'%>
  </div>


  <div class="btn">
    <%= link_to 'Посмотреть залы', '/rooms/show'%>
  </div>

  <div class="btn">
    <%= link_to 'Записаться на съемку', '/records/new'%>
  </div>

</section>
